div.msg-box {
  height: 3em;
  position: relative;
  margin: 1em;
  border-style: solid;
  border-color: darkred;
}

div.msg-box p{
  margin-left: 9pt;
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%);
  color: darkred;
}

div.warning {
  background-color: lightcoral;
}
